

.edu{
    background:#a39161 url('../images/icons/icon_03.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;

}
.edu:hover{
    background:#72725f url('../images/icons/icon_03.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;
}
.animal{
    background:#a39161 url('../images/icons/icon_06.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.animal:hover{
    background:#72725f url('../images/icons/icon_06.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.arts{
    background:#a39161 url('../images/icons/icon_08.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.arts:hover{
    background:#72725f url('../images/icons/icon_08.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.children{
    background:#a39161 url('../images/icons/icon_10.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.children:hover{
    background:#72725f url('../images/icons/icon_10.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}


.economi{
    background:#a39161 url('../images/icons/icon_12.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;

}
.economi:hover{
    background:#72725f url('../images/icons/icon_12.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;

}
.environment{
    background:#a39161 url('../images/icons/icon_14.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.environment:hover{
    background:#72725f url('../images/icons/icon_14.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.helth{
    background:#a39161 url('../images/icons/icon_16.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.helth:hover{
    background:#72725f url('../images/icons/icon_16.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.house{
    background:#a39161 url('../images/icons/icon_18.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.house:hover{
    background:#72725f url('../images/icons/icon_18.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.hunger{
    background:#a39161 url('../images/icons/icon_20.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;

}
.hunger:hover{
    background:#72725f url('../images/icons/icon_20.png')15px 6px no-repeat !important;
    background-size: 30px 30px !important;

}
.metal{
    background:#a39161 url('../images/icons/icon_22.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.metal:hover{
    background:#72725f url('../images/icons/icon_22.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.mentoring{
    background:#a39161 url('../images/icons/icon_24.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}

.mentoring:hover{
    background:#72725f url('../images/icons/icon_24.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.adult{
    background:#a39161 url('../images/icons/icon_26.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.adult:hover{
    background:#72725f url('../images/icons/icon_26.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.advocy{
    background:#a39161 url('../images/icons/icon_28.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}
.advocy:hover{
    background:#72725f url('../images/icons/icon_28.png')15px 6px no-repeat !important ;
    background-size: 30px 30px !important;
}


.cd-active.cd-dropdown ul li span {
    margin-top:10px;
    height:40px;
    text-align: left;
}


.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
    height: 40px;
}
.cd-dropdown > span{    
    height: 50px!important;
}
.cd-dropdown,
.cd-select {
    position: relative;
    width: 300px;
    margin: 20px auto;
    display: block;
    float: left;
    font-weight: lighter !important;

}

.cd-dropdown ul li span {
    height: 40px;
    text-align: left;
}


.cd-dropdown > span {
    /*    width: 100%;*/
    height: 60px;
    line-height:2.9em;
    color: #999;
    font-weight: 700;
    font-size: 16px;
    background: #fff;
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    cursor: pointer;
    background: #003366;
}

.cd-dropdown > span:after {
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    height: 70%;
    line-height: 0px;
    background: url('../images/down-arrow.png') 50% 30% no-repeat;
    content: "adf";
    color: #003366
}

.cd-dropdown.cd-active > span:after {
    background: url('../images/top-arrow.png') 50% 30% no-repeat;

}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.cd-dropdown ul li span {
    /*    width: 100%;*/
    background: #fff;
    line-height: 40px;
    padding: 0 0px 0 50px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-weight:normal;
    background-size: 50px 50px;
    font-size: 1.4em;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
    padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



.fleft {
    float: left;
    width: 49%;
    min-width: 300px;
}

/* Header Style */
.codrops-top {
    line-height: 24px;
    font-size: 11px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

/* Demo Buttons Style */
.codrops-demos {
    float: right;
    padding-top: 10px;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #666;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
    color: #000;
    border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    color: #aaa;
    border-color: #aaa;
}


@media screen and (max-width: 730px){
    .fleft {
        width: 100%;
        float: none;
        text-align: center;
    }
} 


/*================ icons css =============================*/



.cd-dropdown {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.cd-dropdown > span {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
}

.cd-dropdown > span:active {
    -webkit-transform: rotateX(60deg);
    -moz-transform: rotateX(60deg);
    -o-transform: rotateX(60deg);
    -ms-transform: rotateX(60deg);
    transform: rotateX(60deg);
}

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
    position: absolute;
    top: 0px;
    width: 100%;
}

.cd-dropdown ul li {
    position: absolute;
    width: 100%;
    background: transparent;
    height: 40px;
}

.cd-active.cd-dropdown > span {
    color: #a39161;

}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #003366;
}

.cd-active.cd-dropdown ul li span {
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
    background: #f8b161;
    color: #fff;
}

/*.cd-active.cd-dropdown ul li span:hover {
    background: #72725f !important;
}*/
.cd-dropdown > span {
    text-transform: uppercase;
    color: #fff;
}


@media (min-width: 980px) and (max-width: 1199px) { 

    .cd-dropdown > span {
        font-size: 12px;
        line-height: 4.2em;

    }
    .cd-dropdown ul li span {
        font-size: 13px;

    }
    .cd-dropdown,
    .cd-select {
        width: 220px;
    }

}


@media (min-width: 768px) and (max-width: 979px) { 



    .cd-dropdown > span {
        font-size: 12px;
        line-height: 4.2em;


    }
    .cd-dropdown ul li span {
        font-size: 12px;

    }
    .cd-dropdown,
    .cd-select {
        width: 220px;
    }
}

.cd-dropdown ul li{
    width: 100% !important;
    position: absolute;
    left: 0 !important;

}

.cd-dropdown > span > span{
    background: transparent !important;
    font-size: 0.9em;
    line-height: 1em!important;
    position: relative;
    left: -12px;
    top: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cd-dropdown > span > span:hover{
    background: transparent !important;
}